<template>
    <section id="details" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-title">
                        <h2>Person Form</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <input type="hidden" v-model="person.id" />
                            <div class="col-md-12 form-group">
                                <label for="first_name">Fist Name</label>
                                <input type="text" name="first_name" class="form-control" id="first_name" v-model="person.first_name" />
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" name="last_name" class="form-control" id="last_name" v-model="person.last_name" />
                            </div>                                
                            <div class="col-md-12 form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email" v-model="person.email" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="section-title">
                        <h2>Details Form</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                          <p v-if="errors.length">
                                <b>Please correct the following error(s):</b>
                                <ul>
                                    <li v-for="error in errors">{{ error }}</li>
                                </ul>
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="address">Address</label>
                                <input type="text" name="address" class="form-control" id="address" v-model="person_details.address"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="inlineRadioOptions">Gender</label><br>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" v-model="person_details.gender" name="gender" id="male" value="Male" />
                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" v-model="person_details.gender" name="gender" id="female" value="Female" />
                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                </div>
                            </div>             
                            <div class="col-md-6 form-group">
                                <label for="purpose">Purpose:</label>
                                <select class="form-control" id="purpose" v-model="person_details.purpose">
                                    <option v-for="purpose in this.purposes" :key="purpose.id" :value="purpose.id">{{purpose.title}}</option>
                                </select>
                            </div>                   
                            <div class="col-md-12 form-group">
                                <label for="activities">Activities</label><br>
                                <div v-for="activity in this.activities" :key="activity.id" class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" :value="activity.id" v-model="person_details.activities" id="e-sports">
                                    <label class="form-check-label" for="inlineRadio2"><i :class="'bx bx-'+activity.title" :title="activity.title"></i></label>
                                </div>  

                            </div>  
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-md-12 form-group">
                        <button type="button" class="btn btn-primary" @click="submitForm">Save Information</button>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Resume Section -->
</template>
         
<script>
export default {
    data(){
        return{
            person:{
                id:'',
                first_name:'',
                last_name:'',
                email:''
            },
            activities:[],
            purposes:[],
            person_details:{
                address:'',
                gender:'',
                purpose:'',
                activities:[]
            },
            errors: []
        }
    },
    created(){
        this.loadStoredPerson();
        this.populateForms();
    },
    methods:{
        loadStoredPerson(){
            this.person = this.$store.getters.getPersonData;
            this.person_details = this.$store.getters.getPersonDetails;
        },
        populateForms(){
            fetch('api/details')
                .then(res => res.json())
                .then(res => { 
                    if(res.status == 'success'){
                        this.activities = res.data.activities;
                        this.purposes = res.data.purposes;
                    }
            });
        },
        validateData(){
            this.errors = [];

            if(this.person_details.address.length > 50) {
                this.errors.push("Address can't be longer than 50 characters.");
            }

            if(this.person_details.activities.length == 0){
                this.errors.push("At least one Activity should be selected."); 
            }

            if(this.person_details.activities.length > 2){
                this.errors.push("No more than two activities should be selected");
            }

            if (!this.errors.length) {
                return true;
            }
            return false;
        },
        submitForm(){
            if(this.validateData()){
                
                fetch('api/persons/'+this.person.id, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        person: this.person,
                        person_details:this.person_details
                    })
                })
                .then(res => res.json())
                .then(res => {
                    if(res.status == 'success'){
                        
                        var person_purpose;
                        this.purposes.forEach(obj => {
                            Object.entries(obj).forEach(([key, value]) => {
                                if(key == 'id' && value == this.person_details.purpose){
                                    person_purpose = obj;
                                }
                            });
                        });

                        var person_activities=[];
                        this.activities.forEach(obj => {
                            Object.entries(obj).forEach(([key, value]) => {
                                if(key == 'id' && this.person_details.activities.includes(value)){
                                    person_activities[value] = obj;
                                }
                            });
                        });

                        this.$store.commit('setPersonDetails',{
                            address:this.person_details.address,
                            gender:this.person_details.gender,
                            purpose:person_purpose,
                            activities:person_activities
                        });
                        this.$router.push('/results')
                    }
                });
            }
        }

    }
}
</script>