<template>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Person Form</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button type="button" class="btn btn-success" @click="populateData">Load Random Person</button>
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" v-model="person.id" />
                    <div class="col-md-12 form-group">
                        <label for="first_name">Fist Name</label>
                        <input type="text" name="first_name" class="form-control" id="first_name" v-model="person.first_name"/>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" class="form-control" id="last_name" v-model="person.last_name" />
                    </div>                                
                    <div class="col-md-12 form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" v-model="person.email"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button type="button" class="btn btn-primary float-right" @click="saveData">Save Data</button>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Resume Section -->
</template>

<script>
export default {
    data(){
        return{
            person:{
                id:'',
                first_name:'',
                last_name:'',
                email:''
            }
        }
    },
    methods:{
        populateData(){
            fetch('api/persons/{0}')
                .then(res => res.json())
                .then(res => {
                    this.person.first_name = res.data.first_name
                    this.person.id = res.data.id
                    this.person.last_name = res.data.last_name
                    this.person.email = res.data.email
                    this.$store.commit('setPersonBasic',this.person);
                })
        },
        saveData(){
            fetch('api/persons/'+this.person.id, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    person: this.person
                })
            })
            .then(res => res.json())
            .then(res => { 
                if(res.status == 'success'){
                    this.$router.push('/edit-details')
                }
            });
        }
    }
}
</script>