<template>
    <header id="header" class="d-flex flex-column justify-content-center">
        <nav class="nav-menu">
            <ul>
            <li class="active"><router-link to="/"><i class="bx bx-user"></i> <span>Person</span></router-link></li>
            <li class="active"><router-link to="edit-details"><i class="bx bx-server"></i> <span>Edit Details</span></router-link></li>
            <li class="active"><router-link to="results"><i class="bx bx-file-blank"></i> <span>Resuts</span></router-link></li>
            </ul>
        </nav><!-- .nav-menu -->
    </header><!-- End Header -->
</template>

<script>
    export default {

    }
</script>
